.recomended_item {
    padding-left: 10px;
}
.recomended_item_title {
    font-size: 12px;
    font-weight: bold;
}
.thumbnailR1 {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 150%;
}
.thumbnailR2 {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 160%;
}
.recomended_list {
    height: 155px;
}
.recomended {
    background-color: white;
}

.menu_list {
    background: transparent;
}
.menu_item {
    color: white;
    font-size: 12px;
}
.menu_item ons-icon {
    margin-right: 10px;
    color: gray;
    font-size: 16px;
}

.category_content {
    background-color: white;
}
.category {
    text-align: center;
    margin: 20px 0px;
    padding: 0px 30px;
}
.category_wrapper {
    text-align: center;
    max-width: 190px;
    width: 95%;
    height: 160px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    background-size: 240px;
}
.category_wrapper ons-icon {
    font-size: 55px;
    padding-top: 10px;
    line-height: 0.75em;
}
.category_thumbnail {
    text-align: center;
    font-size: auto;
    display: inline-block;
    margin: 16px 0px;
}
.category_cate_title {
    text-align: center;
    font-size: auto;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: -1.5px -1.5px rgb(0, 0, 0), 3px 3px rgb(0, 0, 0),
                    1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px rgb(0, 0, 0);
}
.category_header {
    width: 95%;
    height: 80px;
    margin: auto;
    background-color: gold;
    background-repeat: no-repeat;
    background-size: cover;
}

.category_header_title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    padding-top: 20px;
}

.logolog_content {
    background-color: none;
}
.logolog {
    text-align: center;
    margin: 20px 0px;
}
.logo_login {
    text-align: center;
    max-width: 300px;
    width: 150%;
    height: 290px;
    margin: auto;
    background-size: 340px;
}

.logoReg_content {
    background-color: none;
}
.logoReg {
    text-align: center;
    margin: 20px 0px;
}
.logo_regidter {
    text-align: center;
    max-width: 210px;
    width: 150%;
    height: 200px;
    margin: auto;
    background-size: 200px;
}

.username_item {
    padding-left: 10px;
}
.password_item {
    padding-left: 10px;
}

.resMenu_content {
    background-color: white;
}
.resMenu {
    text-align: center;
    margin: 20px 0px;
    padding: 0px 30px;
}
.resMenu_wrapper {
    text-align: center;
    max-width: 440px;
    width: 95%;
    height: 270px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    background-size: 440px;
}
.resMenu_wrapper ons-icon {
    font-size: 55px;
    padding-top: 10px;
    line-height: 0.75em;
}
.resMenu_thumbnail {
    text-align: center;
    font-size: auto;
    display: inline-block;
    margin: 16px 0px;
}
.resMenu_cate_title {
    text-align: center;
    font-size: auto;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: -1.5px -1.5px rgb(0, 0, 0), 3px 3px rgb(0, 0, 0),
                    1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px rgb(0, 0, 0);
}

.resMenuUrl_item {
    padding-left: 10px;
}
.resMenuUrl_item_title {
    font-size: 12px;
    font-weight: bold;
}
.resMenuUrl_thumbnail1 {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 100%;
}
.resMenuUrl_thumbnail2 {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 100%;
}
.resMenuUrl_thumbnail3 {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 170%;
}
.resMenuUrl_thumbnail4 {
    width: 200px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 150%;
}
.resMenuUrl_list {
    height: 115px;
}
.resMenuUrl {
    background-color: white;
}

